#fitem_id_tebillid {
    display: flex;
    flex-wrap: wrap;
}

.ftebillid {
    position: relative;
  width: 100%;
  padding-right: 15px;
  
}
.fitemtitle{
    position: relative;
  width: 100%;
  padding-right: 15px;
  
}

#id_tebillid{
    display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #8f959e;
  border-radius: .5rem;
}

#id_tebillid:focus{
    border-color: #5babf2;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(15,108,191,.75);
}

#fitem_id_bosubmit> div:nth-child(2){
    padding: 0;
}

@media (min-width: 768px) {
    .ftebillid {
        flex:0 0 75%;
        max-width: 75%;
    }
    .fitemtitle{
        flex:0 0 25%;
        max-width: 25%;
    }
}


