<a href="#">Dashboard</a> / Create Vessel
<h1>Create Vessel Interface</h1>
<form action="" method="POST">
<div class="row mb-3" >
<div class="col-md-3">
<label for="tevesselcodeid">Write a vessel code <i class="icon fa fa-exclamation-circle text-danger fa-fw " title="Required field" role="img" aria-label="Required field"></i></label>
</div>
<div class="col-md-9">
<input type="text" class="form-control flex-fill" id="tevesselcodeid">
</div>
</div>
<div class="row mb-3">
<div class="col-md-3">
<label for="tecustomernameid">Select the customer </label>
</div>
<div class="col-md-9">
<select class="form-control" id="tecustomernameid">
<option value="1" selected>Customer A</option>
<option value="2">Customer B</option>
</select>
</div>
</div>
<div class="row mb-3">
<div class="col-md-3">
<label for="idtype">Vessel list for the choosen customer </label>
</div>
<div class="col-md-9">
<select class="form-control" id="idtype" multiple>
<option>1 - C1</option>
<option>2 - C2</option>
<option>3 - C3</option>
<option>4 - C4</option>
</select>
</div>
</div>
<div>
<button class="btn btn-secondary m-2 ml-0 ">Add New</button> <button class="btn btn-secondary m-2">Remove</button>
</div>
</form>
<p><i class="icon fa fa-exclamation-circle text-danger fa-fw " title="Required field" role="img" aria-label="Required field"></i> Required</p>
<hr>