<a href="#">Dashboard</a> / Upload ITP
<h1>Upload ITP Plugin</h1>
<form action="" method="POST">

<div class="row mb-3">
<div class="col-md-3">
<label for="selcustomerid">Select Customer </label>
</div>
<div class="col-md-9">
<select class="form-control" id="selcustomerid">
<option value="1" selected>Customer A</option>
<option value="2">Customer B</option>
</select>
</div>
</div>

<div class="row mb-3">
<div class="col-md-3">
<label for="selloaderid">Choose the file you are going to upload: ITP Trainee / Updated ITP Dates: </label>
</div>
<div class="col-md-9">
<select class="form-control" id="selloaderid">
<option value="1" selected>ITP Trainee</option>
<option value="2">ITP Update Dates</option>
</select>
</div>
</div>

<div class="row mb-3">
<div class="col-md-3">
<label for="tefileid">Drag the file to be loaded: </label>
</div>
<div class="col-md-9">
<input type="file" class="form-control" id="tefileid" placeholder="Accepted file type: .csv">
</div>
</div>

<div class="row mb-3">
<div class="col-md-3">
<label >Choose the separator character: </label>
</div>
<div class="col-md-9">
<input type="radio" value="Tab" id="tabid" checked><label for="tabid" class="ml-1 mr-2">Tab</label>
<input type="radio" value="Comma" id="commaid"><label for="commaid" class="ml-1 mr-2">Comma</label>
<input type="radio" value="Colon" id="colonid"><label for="colonid" class="ml-1 mr-2">Colon</label>
<input type="radio" value="Semicolon" id="semicolonid"><label for="semicolonid" class="ml-1 mr-2">Semicolon</label>
</div>
</div>

<div class="row mb-3">
<div class="col-md-3">
<label for="tefileid">Send an email after the ITP has been uploaded: </label>
</div>
<div class="col-md-9">
<input type="radio" value="Tab" id="tabid" checked><label for="tabid" class="ml-1 mr-2">Yes</label>
<input type="radio" value="Comma" id="commaid"><label for="commaid" class="ml-1 mr-2">No</label>
</div>
</div>

<div class="row mb-3">
<div class="col-md-3">
<label for="tefileid">Subject: <i class="icon fa fa-exclamation-circle text-danger fa-fw " title="Required field" role="img" aria-label="Required field"></i></label>
</div>
<div class="col-md-9">
<input type="text" class="form-control" id="tefileid" placeholder="Email subject...">
</div>
</div>

<div class="row mb-3">
<div class="col-md-3">
<label for="tefileid">Write a text in case you want to send an email to all trainees informing about any ITP Update: </label>
</div>
<div class="col-md-9">
<textarea class="form-control" rows="5"></textarea>
</div>
</div>

<div>
<button class="btn btn-secondary m-2 ml-0 ">Save Changes</button> <button class="btn btn-secondary m-2">Cancel</button>

</div>
</form>
<p><i class="icon fa fa-exclamation-circle text-danger fa-fw " title="Required field" role="img" aria-label="Required field"></i> Required</p>
<hr>