<a href="#">Dashboard</a> / Create Customer
<h1>Create Customer Interface</h1>
<form action="" method="POST">
<div class="row mb-3" >
<div class="col-md-3">
<label for="tecustomercodeid">Customer Code <i class="icon fa fa-exclamation-circle text-danger fa-fw " title="Required field" role="img" aria-label="Required field"></i></label>
</div>
<div class="col-md-9">
<input type="text" class="form-control flex-fill" id="tecustomercodeid">
</div>
</div>
<div class="row mb-3">
<div class="col-md-3">
<label for="tecustomernameid">Customer Name </label>
</div>
<div class="col-md-9">
<input type="text" class="form-control" id="tecustomernameid">
</div>
</div>
<div class="row mb-3">
<div class="col-md-3">
<label for="idtype">List of availabe customers </label>
</div>
<div class="col-md-9">
<select class="form-control" id="idtype" multiple>
<option>1 - CU01 - Customer A</option>
<option>2 - CU02 - Customer B</option>
</select>
</div>
</div>
<div>
<button class="btn btn-secondary m-2 ml-0 ">Add New</button> <button class="btn btn-danger m-2">Remove</button>
</div>
</form>
<p><i class="icon fa fa-exclamation-circle text-danger fa-fw " title="Required field" role="img" aria-label="Required field"></i> Required</p>
<hr>
