<div id="content">
<form action="#">
<div class="input-group mb-3" style="max-width:300px;">
<select id="selgroupid" name="selgroup">
{{#group}}
<option value={{id}}>{{name}}</option>
{{/group}}
{{^group}}
<option value="null">No group</option>
{{/group}}
</select>
  <input id="tebillid" type="text" class="form-control" placeholder="billid..." aria-label="Search by billid" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="bofilter">Search</button>
  </div>
  <input id="id_token" type="hidden" value="{{token}}">
</div>
</form>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">WBS</th>
      <th scope="col">Course Name</th>
      <th scope="col"><a id="sd-link" href="{{url}}">Start {{#orderbystartdate}}{{#order}}&uarr;{{/order}}{{^order}}&darr;{{/order}}{{/orderbystartdate}}</a></th>
      <th scope="col"><a id="ed-link" href="{{url}}">End {{#orderbyenddate}}{{#order}}&uarr;{{/order}}{{^order}}&darr;{{/order}}{{/orderbyenddate}}</a></th>
      <th scope="col">Num. Trainees</th>
      <th scope="col">Enroled</th>
      <th scope="col">Location</th>
      <th scope="col">Provider</th>
      <th scope="col">CSV</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
<tbody>
{{#courses}}
    <tr>
      <th scope="row">{{wbs}}</th>
      <td>{{#terminado}}<a data-wbs={{wbs}} data-trainees={{trainees}} class="courseFinished" href="#" title="Download Report">{{course}}</a>{{/terminado}}{{^terminado}}{{course}}{{/terminado}}</td>
      <td>{{#userdate}} {{startdate}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}</td>
      <td>{{#userdate}} {{enddate}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}</td>
      <td>{{num_trainees}}</td>
      <td><a href="#" class="trainees" title="{{trainees}}">{{#shortentext}}15,{{trainees}}{{/shortentext}}</a></td>
      <td>{{location}}</td>
      <td>{{provider}}</td>
      <td><a data-id="{{trainees}}" href="#" title="download csv" class="btn btn-primary text-center bodownload" style="width:42px;">{{#pix}}i/export, core{{/pix}}</a></td>
      <td><button data-id="{{trainees}}" title="Email..." class="btn btn-primary text-center boemail" style="width:42px;">{{#pix}}i/email, core{{/pix}}</button></td>
    </tr>
{{/courses}}
{{^courses}}
<tr>
      <td colspan="10" class="text-center">No matches found.</td>
      
    </tr>
{{/courses}}
</tbody>
</table>
</div>
</div>

{{#js}}
//Este código carga el archivo javascript compilado con grunt.
//Dentro del archivo javascript debe definirse/exportarse una funcion init que obtenga los parámetros uniqid para su procesamiento



require(['report_partialplan/downloadcsv'],function(module){
    module.init({{customerid}});
});

require(['report_partialplan/sendemail'],function(module){
    module.init({{customerid}});
});

require(['report_partialplan/showtrainees'],function(module){
    module.init("{{trainees}}");
});

require(['report_partialplan/managefilter'],function(module){
  module.init({{customerid}},{{order}},'{{orderby}}',{{orderbystartdate}},{{orderbyenddate}});
});



require(['report_partialplan/downloadpdf','/report/partialplan/js/pdf-lib.min.js'],function(module,PDF){
  module.init(PDF,{{customerid}});
  });

{{/js}}

{{#js}}
$(document).ready(function(){ window.console.log("ready.......")});
{{/js}}
