<a href="#">Dashboard</a> / Partial Training Plan
<h1>Partial Training Plan</h1>
<form>

<div class="row mb-3">
<div class="col-md-3">
<label for="idtype">Select customer </label>
</div>
<div class="col-md-9">
<select class="form-control" id="idtype">
<option>CU01 - Customer A</option>
<option>CU02 - Customer B</option>
</select>
</div>
</div>
-
<div class="row mb-3">
<div class="col-md-3">
<label for="idtype">Select a date to filter </label>
</div>
<div class="col-md-9">
<input type="date" class="form-control" value="2021-05-30">
</div>
</div>
<div>
<button class="btn btn-primary m-2 ml-0 ">Submit</button> 
</div>
</form>
<hr>
<form action="#">
<div class="input-group mb-3" style="max-width:300px;">

<select id="selvesselid" name="selvessel">
<option value="1" selected>C1</option>
<option value="2" >C2</option>
<option value="3" >C3</option>
</select>

  <input type="text" class="form-control" placeholder="billid..." aria-label="Search by billid" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Search</button>
  </div>
</div>
</form>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">WBS</th>
      <th scope="col"><a  href="#">Course Name</a></th>
      <th scope="col"><a href="#">Start &#9652;</a></th>
      <th scope="col"><a  href="#">End </a></th>
      <th scope="col"><a  href="#">Num. Trainees</a></th>
      <th scope="col">Enroled</th>
      <th scope="col">Location</th>
      <th scope="col"><a  href="#">Provider</a></th>
      <th scope="col">CSV</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
<tbody>

    <tr>
      <th scope="row">CUS01_MATH1</th>
      <td>MATHMATICS</td>
      <td>27/05/2021</td>
      <td>3/06/2021</td>
      <td>4</td>
      <td><a href="#" class="trainees" title="C1_EN-111, C1_EN-112, C1_EN-113, C1_EN-114">{{#shortentext}}35, C1_EN-111, C1_EN-112, C1_EN-113, C1_EN-114{{/shortentext}}</a></td>
      <td>Altair centre</td>
      <td>ALTANOBA</td>
      <td><a href="#" title="download csv" class="btn btn-primary text-center bodownload" style="width:42px;">{{#pix}}i/export, core{{/pix}}</a></td>
      <td><button  title="Email..." class="btn btn-primary text-center boemail" style="width:42px;">{{#pix}}i/email, core{{/pix}}</button></td>
    </tr>
    <tr>
      <th scope="row">CUS01_DESGN</th>
      <td>WEB DESIGN</td>
      <td>27/06/2021</td>
      <td>3/07/2021</td>
      <td>6</td>
      <td><a href="#" class="trainees" title="C1_EN-111, C1_EN-112, C1_EN-113, C1_EN-114, C1_EN-222, C1_EN-223">{{#shortentext}}35, C1_EN-111, C1_EN-112, C1_EN-113, C1_EN-114, C1_EN-222, C1_EN-223{{/shortentext}}</a></td>
      <td>Altair centre</td>
      <td>ACME</td>
      <td><a href="#" title="download csv" class="btn btn-primary text-center bodownload" style="width:42px;">{{#pix}}i/export, core{{/pix}}</a></td>
      <td><button  title="Email..." class="btn btn-primary text-center boemail" style="width:42px;">{{#pix}}i/email, core{{/pix}}</button></td>
    </tr>
        <tr>
      <th scope="row">CUS01_AST</th>
      <td>ASTRONOMY</td>
      <td>27/07/2021</td>
      <td>3/08/2021</td>
      <td>4</td>
      <td><a href="#" class="trainees" title="C1_EN-111, C1_EN-112, C1_EN-113, C1_EN-114">{{#shortentext}}35, C1_EN-111, C1_EN-112, C1_EN-113, C1_EN-114{{/shortentext}}</a></td>
      <td>Altair centre</td>
      <td>ALTANOBA</td>
      <td><a href="#" title="download csv" class="btn btn-primary text-center bodownload" style="width:42px;">{{#pix}}i/export, core{{/pix}}</a></td>
      <td><button  title="Email..." class="btn btn-primary text-center boemail" style="width:42px;">{{#pix}}i/email, core{{/pix}}</button></td>
    </tr>
    <tr>
      <th scope="row">CUS01_LIT</th>
      <td>LITERATURE</td>
      <td>27/08/2021</td>
      <td>3/09/2021</td>
      <td>6</td>
      <td><a href="#" class="trainees" title="C1_EN-111, C1_EN-112, C1_EN-113, C1_EN-114, C1_EN-222, C1_EN-223">{{#shortentext}}35, C1_EN-111, C1_EN-112, C1_EN-113, C1_EN-114, C1_EN-222, C1_EN-223{{/shortentext}}</a></td>
      <td>Altair centre</td>
      <td>FARLOPA</td>
      <td><a href="#" title="download csv" class="btn btn-primary text-center bodownload" style="width:42px;">{{#pix}}i/export, core{{/pix}}</a></td>
      <td><button  title="Email..." class="btn btn-primary text-center boemail" style="width:42px;">{{#pix}}i/email, core{{/pix}}</button></td>
    </tr>


</tbody>
</table>
</div>
