
<div class="assessment-layer">
<hr>
<table class="generaltable table-sm">
<caption>
<p>Trainee: {{user.firstname}}, {{user.lastname}}</p>
<p style="font-size:15px; line-height:normal;">Showing results of course: <strong>{{#shortentext}} 50, {{assessmentDetails.0.coursename}}{{/shortentext}}</strong></p>
</caption>

<thead>
<tr>
    <th id="kpi" scope="col">KPI</th>
    <th id="score" scope="col">Score</th>
    <th id="date" scope="col">Date</th>
    <th id="feedback" scope="col">Feedback</th>
</tr>
</thead>
<tbody>

{{#assessmentDetails}}
<tr>
<td headers="kpi">{{kpi}}</td>
<td headers="score">{{score}}</td>
<td headers="date">{{#timemodified}}{{#userdate}} {{timemodified}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}{{/timemodified}}</td>
<td headers="feedback">{{feedback}}{{#timemodified}}{{^feedback}}-{{/feedback}}{{/timemodified}}</td>
</tr>
{{/assessmentDetails}}

</tbody>
</table>
<div>
<a title="go back" class="btn btn-primary back" href="{{{dashboard_url}}}" role="button">&crarr; Back to ITP</a>
</div>

{{#js}}
//Este código carga el archivo javascript compilado con grunt.
//Dentro del archivo javascript debe definirse/exportarse una funcion init que obtenga los parámetros uniqid para su procesamiento

require(['block_itp/showItp'],function(module){
    module.init("{{token}}","{{customer}}","{{group}}","{{billid}}","{{user.firstname}}", "{{user.lastname}}" );
});

{{/js}}

