
<div class="form-container">
  
  <form action="#" method="POST">
  <!--Contenido del formulario -->
  <!--<div class="mb-2">
  <label for="selCustomerid">Select customer</label>
  <select id="selCustomerid" class="custom-select" aria-label=".form-select-sm example">
  <option value="1" selected>CU01 - Customer A</option>
  <option value="2">CU02 - Customer B</option>
  </select>
</div>

<div class="mb-2">
  <label for="selGroupid">Select Group</label>
  
  <select id="selGroupid" class="custom-select" aria-label=".form-select-sm example">
  <option value="1" selected>Group C1</option>
  <option value="2">Group C2</option>
  </select>
</div>
<div class="mb-2 ftebillid">
  <label for="tebillid">Write billid:</label>
  
  <input type="text" id="tebillid" class="form-control" placeholder="EN-XXX">
</div>
 <button class="btn btn-secondary ml-0">Search</button>-->
  </form>
</div>
<div class="assessment-layer">
<hr>
<table class="generaltable table-sm">
<caption>
<p>Trainee: Peter, Parker</p>
<p style="font-size:15px; line-height:normal;">Showing results of course: <strong>{{#shortentext}} 50, Mathmatics Course{{/shortentext}}</strong></p>
</caption>

<thead>
<tr>
    <th>KPI</th>
    <th>Score</th>
    <th>Date</th>
    <th>Feedback</th>
</tr>
</thead>
<tbody>


<tr>
<td>Attitude</td>
<td>EX</td>
<td>10/08/2024</td>
<td>Excellent attitude</td>
</tr>
<tr>
<td>Participation</td>
<td>VG</td>
<td>10/07/2024</td>
<td>Very good Participation</td>
</tr>
<tr>
<td>Achieved level</td>
<td>100</td>
<td>12/07/2024</td>
<td>-</td>
</tr>
<tr>
<td>Exam1</td>
<td>90</td>
<td>12/07/2024</td>
<td>-</td>
</tr>
<tr>
<td>Exam2</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>Exam3</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>Exam4</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>Exam5</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>


</tbody>
</table>
<div>
<a class="btn btn-primary back" href="#" role="button">&crarr; Back to ITP</a>
</div>


