<div class="attendance-layer">
<h1>{{coursename}}</h1>
<hr>

<div class="table-responsive">
<table class="generaltable table-sm">
<caption>Daily attendance for [{{#userdate}} {{startdate}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}} -- {{#userdate}} {{enddate}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}]</caption>

<thead>
<th colspan=4>
Selected user:
<p>{{billid}} | {{user.firstname}}, {{user.lastname}}</p>

</th>
<tr>
    <th>Coursename</th>
    <th>Dateatt</th>
    <th>Status</th>
    <th>Feedback</th>
</tr>
</thead>
<tbody>

{{#dailyAttendance}}
<tr>
<td>{{coursename}}</td>
<td>{{#userdate}} {{date}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}</td>
<td>{{description}}</td>
<td>{{feedback}}</td>
</tr>
{{/dailyAttendance}}

</tbody>
</table>
{{#message}}<div class="alert alert-success text-center" role="success">{{message}}</div>{{/message}}
<a class="btn btn-primary back" href="{{{dashboard_url}}}" role="button">&crarr; Back to ITP</a>
</div>

{{#js}}
//Este código carga el archivo javascript compilado con grunt.
//Dentro del archivo javascript debe definirse/exportarse una funcion init que obtenga los parámetros uniqid para su procesamiento

require(['block_itp/showItp'],function(module){
    module.init("{{token}}","{{customer}}","{{group}}","{{billid}}","{{user.firstname}}", "{{user.lastname}}" );
});

{{/js}}

