<div class="form-container">
  
  <form action="#" method="POST">
  <!--Contenido del formulario -->
  <!--<div class="mb-2">
  <label for="selCustomerid">Select customer</label>
  <select id="selCustomerid" class="custom-select" aria-label=".form-select-sm example">
  <option value="1" selected>CU01 - Customer A</option>
  <option value="2">CU02 - Customer B</option>
  </select>
</div>

<div class="mb-2">
  <label for="selGroupid">Select Group</label>
  
  <select id="selGroupid" class="custom-select" aria-label=".form-select-sm example">
  <option value="1" selected>Group C1</option>
  <option value="2">Group C2</option>
  </select>
</div>
<div class="mb-2 ftebillid">
  <label for="tebillid">Write billid:</label>
  
  <input type="text" id="tebillid" class="form-control" placeholder="EN-XXX">
</div>
 <button class="btn btn-secondary ml-0">Search</button>-->
  </form>
</div>
<div class="attendance-layer">
<h1>Mathmatics course</h1>
<hr>

<div class="table-responsive">
<table class="generaltable table-sm">
<caption>Daily attendance for [01/06/2024 -- 20/06/2024]</caption>

<thead>
<th colspan=4>
Selected user:
<p>EN-125 | Peter, Parker</p>

</th>
<tr>
    <th>Coursename</th>
    <th>Dateatt</th>
    <th>Status</th>
    <th>Feedback</th>
</tr>
</thead>
<tbody>


<tr>
<td>Mathmatics course</td>
<td>01/06/2024</td>
<td>Absent</td>
<td>Sick Leave</td>
</tr>
<tr>
<td>Mathmatics course</td>
<td>15/06/2024</td>
<td>Late</td>
<td>20% Late</td>
</tr>


</tbody>
</table>
{{#message}}<div class="alert alert-success text-center" role="success">{{message}}</div>{{/message}}
<a class="btn btn-primary back" href="{{{dashboard_url}}}" role="button">&crarr; Back to ITP</a>
</div>



