<h2>ITP Trainee</h2>
<div class="form-container">
  {{{ form }}}
</div>
<div class="block_itp_content">
<div class="table-responsive block_itp_table">
<table class="generaltable table-sm">
<caption>
<dl class="itp-dl">
<div class="d-flex justify-content-between">
<dt>Selected Trainee:</dt> <dd >{{user.firstname}} {{user.lastname}}</dd>
</div>
<div class="d-flex justify-content-between">
<dt>Billid:</dt> <dd>{{#user.billid}} {{user.billid}}{{/user.billid}}{{^user.billid}}-----{{/user.billid}}</dd>
</div>
<div class="d-flex justify-content-between">
<dt>Email: </dt><dd><a href="mailto:{{user.email}}?subject=Message from the LMS">{{user.email}}</a></dd>
</div>
<div class="d-flex justify-content-between">
<dt>Updated on:</dt> <dd><span class="badge bg-warning text-dark">{{#userdate}} {{itp.0.lastupdate}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}</span></dd>
</div>
</dl>
</caption>

<thead>
<tr>
    <th id="course" scope="col">Course</th>
    <th id="duration" scope="col">Duration</th>
    <th id="startdate" scope="col"><a id="sd-link" href="{{url}}">Start date {{#orderbystartdate}}{{#order}}&uarr;{{/order}}{{^order}}&darr;{{/order}}{{/orderbystartdate}}</a></th>
    <th id="enddate" scope="col"><a id="ed-link" href="{{url}}">End date {{#orderbyenddate}}{{#order}}&uarr;{{/order}}{{^order}}&darr;{{/order}}{{/orderbyenddate}}</a></th>
    <th id="location" scope="col">Location</th>
    <th id="classroom" scope="col">Classroom</th>
    <th id="schedule" scope="col">Schedule</th>
    <th id="orderatt" scope="col"><a id="at-link" href="#">Att {{#orderbyatt}}{{#order}}&uarr;{{/order}}{{^order}}&darr;{{/order}}{{/orderbyatt}}</a></th>
    <th id="orderass" scope="col"><a id="as-link" href="#">Ass {{#orderbyass}}{{#order}}&uarr;{{/order}}{{^order}}&darr;{{/order}}{{/orderbyass}}</a></th>
</tr>
</thead>
<tbody class='itp_detail'>
{{#itp}}
<tr>
<td headers="course"><a href="{{courseUrl}}">{{coursename}}</a></td>
<td headers="duration">{{duration}}</td>
<td headers="startdate">{{#userdate}} {{startdate}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}</td>
<td headers="enddate">{{#userdate}} {{enddate}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}</td>
<td headers="location">{{location}}</td>
<td headers="classroom">{{classroom}}</td>
<td headers="schedule">{{schedule}}</td>
<td headers="orderatt">{{#attendance}}<a class='linkatt' startdate={{startdate}} enddate={{enddate}} courseId={{courseId}} group="{{itp.0.groupid}}" customer="{{itp.0.customerid}}" billid="{{itp.0.billid}}" href="">{{attendance}}</a>{{/attendance}}{{^attendance}}-{{/attendance}}</td>
<td headers="orderass">{{#assessment}}<a class='linkass' courseId={{courseId}} group="{{itp.0.groupid}}" customer="{{itp.0.customerid}}" billid="{{itp.0.billid}}" href="">{{assessment}}</a>{{/assessment}}{{^assessment}}-{{/assessment}}</td>
</tr>
{{/itp}}
</tbody>

</table>
</div>
{{#ifcertificate}} <button type="button" id="bocertificate" class='btn btn-success'>Download certificate</button>{{/ifcertificate}}

</div>

{{#js}}
//Este código carga el archivo javascript compilado con grunt.
//Dentro del archivo javascript debe definirse/exportarse una funcion init que obtenga los parámetros uniqid para su procesamiento

require(['block_itp/showAss'],function(module){
    module.init("{{token}}","{{itp.0.email}}","{{user.firstname}}" ,"{{user.lastname}}");
});

require(['block_itp/showAtt'],function(module){
    module.init("{{token}}","{{itp.0.email}}","{{user.firstname}}" ,"{{user.lastname}}");
});

require(['block_itp/downloadpdf','/blocks/itp/js/pdf-lib.min.js'],function(module,PDF){
    const billid='{{user.billid}}';
    const firstname='{{user.firstname}}';
    const lastname='{{user.lastname}}';
    const email='{{user.email}}';
    const user={
        billid:billid,
        firstname:firstname,
        lastname:lastname,
        email:email,
        };

    const coursenames=[{{#itp}}"{{coursename}}",{{/itp}}];
    const coursecodes=[{{#itp}}"{{shortcode}}",{{/itp}}];
    const coursestartdate=[{{#itp}}"{{startdate}}",{{/itp}}];
    const courseenddate=[{{#itp}}"{{enddate}}",{{/itp}}];
    const courseduration=[{{#itp}}"{{duration}}",{{/itp}}];
    const courseatt=[{{#itp}}"{{attendance}}",{{/itp}}];
    const courseass=[{{#itp}}"{{assessment}}",{{/itp}}];

    const courses=[coursenames,coursecodes,coursestartdate,courseenddate,courseduration,courseatt,courseass];

    module.init(PDF,user,courses);
});

{{/js}}
<style>
.itp-dl{
    width:400px;
}
</style>

