<a href="#">Dashboard</a> / Daily Attendance
<h1>Daily attendance report</h1>
<p>Use the form below to filter the attendance list</p>
<hr>

<form>
<div class="form-row">

    <div class="col-md-12 mb-3">
    <label for="selcustomerid">Select customer:</label>
    <select id="selcustomerid" name="selcustomer" class="form-control">
    <option value="1" selected>CUS01- Customer A</option>
    <option value="2" >CUS02- Customer B</option>
    <option value="3" >CUS03- Customer C</option>
    </select>
    </div>

    <div class="col-md-3 mb-3">
    <select id="selvesselid" name="selvessel" class="form-control">
    <option value="1" selected>C1</option>
    <option value="2" >C2</option>
    <option value="3" >C3</option>
    </select>
    </div>

    <div class="col-md-3 mb-3">
        <div class="d-flex justify-content-between align-items-center ">
        <label for="startid" class="mr-2">From:</label><input type="date" value="2024-04-01" id="startid" class="form-control">
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="d-flex  justify-content-between align-items-center">
        <label for="startid" class="mr-2">To:</label><input type="date" value="2024-04-01" id="startid" class="form-control">
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Present</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Absent</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">Late</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option3">
        <label class="form-check-label" for="inlineCheckbox4">Excussed</label>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="d-flex  justify-content-between align-items-center">
        <label for="searchid" class="mr-2" style="width:300px;">Search by billid:</label><input type="text" placeholder="EN-XXX" id="searchid" class="form-control">
        </div>
    </div>
</div>

    <div>
        <button class="btn btn-primary m-2 ml-0 ">Filter</button> 
        <button class="btn btn-secondary m-2 ml-0 ">Export to Excel</button> 
    </div>

</form>
<hr>

<table class="generaltable table-sm" >
        <caption >Attendance list</caption>
        <thead>
        <tr>
        <th><a href="#">Vessel</a></th>
        <th><a href="#">Billid</a></th>
        <th>Name</th>
        <th>LastName</th>
        <th><a href="#">WBS</a></th>
        <th>Course name</th>
        <th><a href="#">Date &#9652;</a></th>
        <th><a href="#">Attendance</a></th>
        <th>Feedback</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>C1</td>
            <td>EN-151</td>
            <td>MANUEL</td>
            <td>LOPEZ AGUILAR</td>
            <td>CU01_MATH</td>
            <td>MATHMATICS COURSE</td>
            <td>21-11-2023</td>
            <td>Absent</td>
            <td>system auto recorded</td>
        </tr>
        <tr>
            <td>C1</td>
            <td>EN-131</td>
            <td>ALFONSO</td>
            <td>CURTIDO GUTIERREZ</td>
            <td>CU01_MATHS</td>
            <td>MATHMATICS COURSE</td>
            <td>13-12-2023</td>
            <td>Absent</td>
            <td>system auto recorded</td>
        </tr>
        <tr>
            <td>C1</td>
            <td>EN-132</td>
            <td>DOLORES</td>
            <td>ESPINOSA TARANCÓN</td>
            <td>CUS01_LITER</td>
            <td>LITERATURE</td>
            <td>13-12-2023</td>
            <td>Absent</td>
            <td>system auto recorded</td>
        </tr>
        <tr>
            <td>C1</td>
            <td>EN-133</td>
            <td>PETER</td>
            <td>PARKER</td>
            <td>CUS01_ASTRO</td>
            <td>ASTRONOMY</td>
            <td>13-12-2023</td>
            <td>Late</td>
            <td>50% Late: Sick leave</td>
        </tr>
        
        </tbody>
        </table>
<p> Displaying 4 results from 100
<div class="d-flex flex-row-reverse">
<ul class="pagination mb-0">
                <li class="page-item " data-region="page-item" data-control="previous">

    <a href="#" class="page-link" data-region="page-link" aria-label="Previous page">
                        <span class="icon-no-margin dir-rtl-hide" aria-hidden="true"><i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"></i></span>
                        <span class="icon-no-margin dir-ltr-hide" aria-hidden="true"><i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"></i></span>
    </a>
</li>
<li class="page-item" data-region="page-item" data-control="first">
    <a href="#" class="page-link" data-region="page-link" aria-label="First page">First</a>
</li>
<li class="page-item active" data-region="page-item" data-page="true">
    <a href="#" class="page-link"  data-region="page-link" aria-label="Page 1">1 </a>
</li>
<li class="page-item " data-region="page-item" data-control="last">
    <a href="#" class="page-link"  data-region="page-link" aria-label="Last page">Last</a>
</li>
<li class="page-item  " data-region="page-item" data-control="next">
    <a href="#" class="page-link" data-region="page-link" aria-label="Next page">
    <span class="icon-no-margin dir-rtl-hide" aria-hidden="true"><i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"></i></span>
    <span class="icon-no-margin dir-ltr-hide" aria-hidden="true"><i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"></i></span>
    </a>
</li>
</ul>
</div>